<div class="centered-content">
    <div class="addOrderContainer">
        <div class="items">
            <h1 class="title">
                Items
            </h1>
            <br>
            <button type="button">{{ Item1 }} - R{{ Price1 }}</button>
            <br>
            <button type="button">{{ Item2 }} - R{{ Price2 }}</button>
            <br>
            <button type="button">{{ Item3 }} - R{{ Price3 }}</button>
            <br>
            <button type="button">{{ Item4 }} - R{{ Price4 }}</button>
        </div>

        <div class="items-container">
            <h1 class="title">
                Current Order
            </h1>
        </div>

    </div>

</div>