<div class="centered-content">
    <div class="addOrderContainer">
        <div class="items">
            <h1 class="title">
                | Items |
            </h1>
            <br>
            <button (click)="click(0)" type="button">{{ Items[0] }} - R{{ Prices[0] }}</button>
            <br>
            <button (click)="click(1)" type="button">{{ Items[1] }} - R{{ Prices[1] }}</button>
            <br>
            <button (click)="click(2)" type="button">{{ Items[2] }} - R{{ Prices[2] }}</button>
            <br>
            <button (click)="click(3)" type="button">{{ Items[3] }} - R{{ Prices[3] }}</button>
        </div>

        <div class="items-container">
            <h1 class="title">
                | Current Order |
            </h1>
            {{ currentOrder }}
            <br>
            Current Total = R{{ total }}
        </div>

    </div>
    
</div>
<button type="button">Complete Order</button>